/* @import 'bootstrap'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #111827;
    overflow: hidden;
    z-index: -100;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 64%;
    width: 120px;
    height: 120px;
    bottom: -120px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 70%;
    width: 148px;
    height: 148px;
    bottom: -148px;
    animation-delay: 3s;
}
.background li:nth-child(2) {
    left: 76%;
    width: 123px;
    height: 123px;
    bottom: -123px;
    animation-delay: 1s;
}
.background li:nth-child(3) {
    left: 86%;
    width: 112px;
    height: 112px;
    bottom: -112px;
    animation-delay: 10s;
}
.background li:nth-child(4) {
    left: 81%;
    width: 140px;
    height: 140px;
    bottom: -140px;
    animation-delay: 5s;
}
.background li:nth-child(5) {
    left: 76%;
    width: 146px;
    height: 146px;
    bottom: -146px;
    animation-delay: 17s;
}
.background li:nth-child(6) {
    left: 89%;
    width: 144px;
    height: 144px;
    bottom: -144px;
    animation-delay: 27s;
}
.background li:nth-child(7) {
    left: 78%;
    width: 129px;
    height: 129px;
    bottom: -129px;
    animation-delay: 18s;
}
.background li:nth-child(8) {
    left: 41%;
    width: 145px;
    height: 145px;
    bottom: -145px;
    animation-delay: 37s;
}
.background li:nth-child(9) {
    left: 59%;
    width: 164px;
    height: 164px;
    bottom: -164px;
    animation-delay: 21s;
}

/* hover menu effect */

.link-menu {
    transition: 0.4s;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    margin: 0 5px;
    position: relative;
  }
  .link-menu::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #f97316;
    transition: all 0.4s;
  }
  .link-menu:hover::before {
    width: 100%;
    left: 0;
  }

/* hover menu effect */

