@import 'bootstrap';
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #18181b;
    overflow: hidden;
    z-index: -100;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 32s linear infinite;
}

.background li:nth-child(0) {
    left: 79%;
    width: 127px;
    height: 127px;
    bottom: -107px;
    /* animation-delay: 1s; */
}
.background li:nth-child(1) {
    left: 17%;
    width: 138px;
    height: 138px;
    bottom: -108px;
    /* animation-delay: 4s; */
}
.background li:nth-child(2) {
    left: 29%;
    width: 109px;
    height: 109px;
    bottom: -139px;
    animation-delay: 0.2s;
}
.background li:nth-child(3) {
    left: 41%;
    width: 140px;
    height: 140px;
    bottom: -150px;
    animation-delay: 0.5s;
}
.background li:nth-child(4) {
    left: 54%;
    width: 124px;
    height: 124px;
    bottom: -154px;
    /* animation-delay: 10s; */
}

.background li:nth-child(6) {
    left: 11%;
    width: 116px;
    height: 116px;
    bottom: -136px;
    animation-delay: 25s;
}

.background li:nth-child(8) {
    left: 70%;
    width: 151px;
    height: 151px;
    bottom: -171px;
    animation-delay: 34s;
}
.background li:nth-child(9) {
    left: 5%;
    width: 138px;
    height: 138px;
    bottom: -168px;
    animation-delay: 2s;
}
.background li:nth-child(10) {
    left: 82%;
    width: 146px;
    height: 146px;
    bottom: -176px;
    animation-delay: 16s;
}
.background li:nth-child(12) {
    left: 86%;
    width: 117px;
    height: 117px;
    bottom: -117px;
    animation-delay: 35s;
}
.background li:nth-child(14) {
    left: 60%;
    width: 108px;
    height: 108px;
    bottom: -108px;
    animation-delay: 30s;
}
.background li:nth-child(15) {
    left: 46%;
    width: 125px;
    height: 125px;
    bottom: -125px;
    animation-delay: 56s;
}
.background li:nth-child(16) {
    left: 38%;
    width: 117px;
    height: 117px;
    bottom: -117px;
    animation-delay: 42s;
}
.background li:nth-child(19) {
    left: 51%;
    width: 110px;
    height: 110px;
    bottom: -110px;
    animation-delay: 19s;
}
.background li:nth-child(20) {
    left: 72%;
    width: 123px;
    height: 123px;
    bottom: -123px;
    animation-delay: 36s;
}
.background li:nth-child(21) {
    left: 32%;
    width: 126px;
    height: 126px;
    bottom: -126px;
    animation-delay: 100s;
}
.background li:nth-child(22) {
    left: 44%;
    width: 143px;
    height: 143px;
    bottom: -143px;
    animation-delay: 73s;
}
.background li:nth-child(23) {
    left: 15%;
    width: 132px;
    height: 132px;
    bottom: -132px;
    animation-delay: 18s;
}
.background li:nth-child(24) {
    left: 71%;
    width: 135px;
    height: 135px;
    bottom: -135px;
    animation-delay: 14s;
}
.background li:nth-child(25) {
    left: 6%;
    width: 130px;
    height: 130px;
    bottom: -130px;
    animation-delay: 105s;
}
.background li:nth-child(26) {
    left: 61%;
    width: 139px;
    height: 139px;
    bottom: -139px;
    animation-delay: 118s;
}
.background li:nth-child(27) {
    left: 58%;
    width: 136px;
    height: 136px;
    bottom: -136px;
    animation-delay: 20s;
}
.background li:nth-child(28) {
    left: 84%;
    width: 148px;
    height: 148px;
    bottom: -148px;
    animation-delay: 5s;
}
.background li:nth-child(29) {
    left: 54%;
    width: 151px;
    height: 151px;
    bottom: -151px;
    animation-delay: 49s;
}
.background li:nth-child(30) {
    left: 86%;
    width: 108px;
    height: 108px;
    bottom: -108px;
    animation-delay: 62s;
}
.background li:nth-child(31) {
    left: 45%;
    width: 131px;
    height: 131px;
    bottom: -131px;
    animation-delay: 141s;
}
.background li:nth-child(32) {
    left: 25%;
    width: 132px;
    height: 132px;
    bottom: -132px;
    animation-delay: 84s;
}
.background li:nth-child(33) {
    left: 57%;
    width: 122px;
    height: 122px;
    bottom: -122px;
    animation-delay: 136s;
}
.background li:nth-child(34) {
    left: 5%;
    width: 124px;
    height: 124px;
    bottom: -124px;
    animation-delay: 78s;
}
.background li:nth-child(35) {
    left: 73%;
    width: 111px;
    height: 111px;
    bottom: -111px;
    animation-delay: 128s;
}
.background li:nth-child(38) {
    left: 35%;
    width: 134px;
    height: 134px;
    bottom: -134px;
    animation-delay: 83s;
}
.background li:nth-child(40) {
    left: 29%;
    width: 109px;
    height: 109px;
    bottom: -109px;
    animation-delay: 118s;
}
.background li:nth-child(41) {
    left: 22%;
    width: 114px;
    height: 114px;
    bottom: -114px;
    animation-delay: 164s;
}
.background li:nth-child(42) {
    left: 48%;
    width: 112px;
    height: 112px;
    bottom: -112px;
    animation-delay: 16s;
}
.background li:nth-child(43) {
    left: 74%;
    width: 132px;
    height: 132px;
    bottom: -132px;
    animation-delay: 108s;
}
.background li:nth-child(47) {
    left: 78%;
    width: 113px;
    height: 113px;
    bottom: -113px;
    animation-delay: 194s;
}
.background li:nth-child(48) {
    left: 68%;
    width: 110px;
    height: 110px;
    bottom: -110px;
    animation-delay: 193s;
}
.background li:nth-child(49) {
    left: 8%;
    width: 114px;
    height: 114px;
    bottom: -114px;
    animation-delay: 162s;
}


/* hover menu effect */
.link-menu {
    transition: 0.4s;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    margin: 0 5px;
    position: relative;
  }
  .link-menu::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #f97316;
    transition: all 0.4s;
  }
  .link-menu:hover::before {
    width: 100%;
    left: 0;
  }
/* hover menu effect */

.slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }
  